  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 mt-4">
      <div class="portfolio-title my-4">
        <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
        <!-- <hr>
        <span class="date"><%- moment(item.date || '').format('YYYY-MM-DD')%></span> -->
      </div>
      <div class="col-12 portfolio-content">
        <%- item.content %>
      </div>
    </div>
  </div>
  